# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore all node_modules folders recursively
**/node_modules/

# Ignore build outputs and JS/TS module artifacts
**/*.js
**/*.mjs
**/*.cjs
**/*.tsbuildinfo
**/*.map

# Optional: Ignore dist or build folders across packages
**/dist/
**/build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

